<li class="list-group-item border border-dark"
    [class.list-group-item-success]="evidenceConfirmed(evidence)"
    [class.list-group-item-danger]="evidenceImpossible(evidence)"
>
  <button type="button" class="btn btn-outline-primary" data-toggle="modal"
          [attr.data-target]="'#evidence-modal-' + i">
    <i class="fa fa-fw" [ngClass]="evidence.icon"></i>
  </button>
  <div class="modal fade text-dark" id="evidence-modal-{{i}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Evidence: {{evidence.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{evidence.details}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {{evidence.name}}
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-primary" (click)="markUnknown(evidence)"
            [disabled]="cannotDeselectEvidence(evidence)"
            [class.active]="showEvidenceUnknown(evidence)"><i
      class="fa fa-question"></i></button>
    <button type="button" class="btn btn-outline-primary" (click)="markFound(evidence)"
            [disabled]="!isEvidenceViable(evidence)"
            [class.active]="evidenceConfirmed(evidence)"><i
      class="fa fa-check"></i></button>
    <button type="button" class="btn btn-outline-primary" (click)="markEliminated(evidence)"
            [disabled]="cannotBeEliminated(evidence)"
            [class.active]="evidenceImpossible(evidence)"><i
      class="fa fa-times"></i></button>
  </div>
</li>
