<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-3">
        <app-card [autoHeight]="false" [title]="'App Info'">
          <p>
            This is an app to help with the game Phasmaphobia.
            <a href="https://store.steampowered.com/app/739630/Phasmophobia/" target="_blank">
              Check it out on steam here: https://store.steampowered.com/app/739630/Phasmophobia/
            </a>.
          </p>
          <p>
            The frontend (Angular) is hosted on GitHubPages.
          </p>
          <hr/>
          <p>
            This repo for this project can be found on github at
            <a
              target="_blank"
              href="https://github.com/adam-on-the-internet/phasmaphobia-helper"
            >
              https://github.com/adam-on-the-internet/phasmaphobia-helper</a
            >.
          </p>
          <p>
            Check out more of my work at
            <a href="http://adamontheinternet.com" target="_blank"
            >AdamOnTheInternet.com</a
            >.
          </p>
        </app-card>
      </div>
    </div>
  </div>
</div>
